firmware/.vs
firmware/*/Debug/*
firmware/*/Release/*
!firmware/*/Debug/*.hex
!firmware/*/Release/*.hex


software/prototype/prj/.vs
software/prototype/prj/Debug
software/prototype/prj/Release
software/prototype/*.psg
