firmware/.vs
firmware/PicoAY-ATtiny85-Debug/Debug
firmware/PicoAY-ATtiny10-Release/Release

software/prototype/prj/.vs
software/prototype/prj/Debug
software/prototype/prj/Release
software/prototype/*.psg
